*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, sans-serif;
}
.p .li{
    font-family: 'Belanosima', sans-serif;
}
.left{
    background: black;
    height: 100vh;
    position: sticky;
    top: 0;

}
.profile-image{
   height: 150px;
    width: 150px;
    border-radius: 126px;
    position: absolute;
    top: 50px;
    left: 110px;
    border: 7px solid rgba(128, 128, 128, 0.6);
    
}
.profile-image:hover{
    border: 7px solid rgb(25, 57, 38);
}
.user{
    font-size: 30px;
    color: aliceblue;
    position: absolute;
    top: 210px;
    left: 75px;
    font-family: 'Belanosima', sans-serif;
}
.user:hover{
    color: rgb(31, 97, 97);
}
.socialmedia{
    position: absolute;
    top: 270px;
    left: 90px;
    display: inline-block;
    cursor: pointer;
}
.co-client{
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.658);
    height: 35px;
    width: 35px;
    border-radius: 30px;
    position: relative;
    top: 0px;
    left: -3px;
    text-align: center;
}
.co-client:hover{
    background-color:rgb(53, 32, 213);
}
.client{
    color: aliceblue;
    font-size: 20px;
    padding: 8px;
   
}
.social-details{
    position: absolute;
    top: 330px;
    left: 100px;
}
.social-abouts{
list-style: none;
text-decoration: none;
margin: 20px;

}
.social-abouts:hover .details-icons{
    color: #00b7ff;
}
.details-icons{
    font-size: 25px;
    color: #6f7180;

}
.details-header{
color: gray;
font-size: 20px;
margin-left: 30px;
font-weight: 600;
text-decoration: none;
text-align: center;
display: inline-block;
font-family: 'Belanosima', sans-serif;
}
.social-abouts:hover .details-header{
    color: #ffffff;
}
.end{
   position: absolute;
   top: 90%;
   left: 100px;
}
.Copyright{
    color: #ffffff;
}
.booots{
    text-decoration: none;
    color: #007aff;
    position: relative;
    top: -40px;
    left: 100px;

}
.right{
    background: white;
    overflow: auto;
}
.banner{ 
 background-image: url("https://lh3.googleusercontent.com/pw/AIL4fc-sSFh6Lj1g67u080ovWmUwhSYQN_sdIWPLjRR9v_EIK4zSUbpNRGkP5JQImNd6BeoGZGWDzKvTF5cIn4wHTnRixUaTNCb81DYaZ6rO3pPbPZ3_zcDz_b7nWF8u2jP5QnazOVMLt7RBx-xt_2HAIgsAf81uUDOI5Ervq35MJPEy4NtehUmjp10c5yzywl5ZwZYn4EB4cf8TlW3wsha2VC6ucHWjvBGKIyJYoU8IIG6isp0gCkuJGZwW0gWPgqHq9b91gE1IkR8I5yvU7NApk65APru9sJidDCHZg96x_GvUMvz1CfDyWVkenGbZf5-NdWAknBW15k7yUS5dSNQueKnY1VJWIbDQ5JSwnK2wfPan8NooJYWNHmXv1Lydd5IWjIz2kDB5D2Uopk1UrTTWMjlA04t02dj46_J2oveAl-quh8-GJq288kpCnMgzMRiRtvHErIlbrilI5D4R8snrI529hbHgOvgKPhnBFUHjbdoALkIGCiexzrn2xhbR9F9oVN33Z847i3-MxytjaBaJVgXcmP7aj5IsZI5fS9xRdM0e40PUqtm1bbn8NugPQerzaAgDOcAYM560N5YRGsirtpaXzQ9qPUiMtO2alAs6L2tW_7BkJfrhq9Er6rbCwWeOJwRZlaMQ3LWwBsKktt_lZIiXyeRpCxZsQsxdtVBbHp0nzw3ETsHrzquTQkoG8go0h7iWWV9it4ZUWvZaM4JMhA6pWi1EAErVttATTMqTi5vq3Dve6ZpAZ_7Wz8vCJQwjE4d2Q8HZWPy73cAo1FfzxRibRUZjt_G-8nfWqTIdDmzn67-FEiXZfgFzuhiA5TtL5PvTHwPki_kiXDelk0kcYMyMqFKhofEKuU7W2bE_LWWX5vLP0YuR8Y7FExg6l8F5kvK6n3yLeN7o8ffjSUm1gkyNKrM=w829-h1048-s-no?authuser=0");    
 background-size:cover;
 background-repeat: no-repeat;
 margin: -30px;
 height: 100vh;



}
.user-name{
font-size: 50px;
font-weight: 900;
color: #162926a1;
font-family: "Raleway", sans-serif;
position: absolute;
top: 350px;
left: 630px;
}
.user-position{
font-size: 30px;
font-weight: 400;
color: rgb(38, 40, 63);
font-family: 'Belanosima', sans-serif;
position: absolute;
top: 410px;
left: 630px;
}
.heading{
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    position: relative;
    top: 10px;
    color: #173b6c;
}
.details{
    font-family: "Raleway", sans-serif;
}
.resume-data{
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #050d18;
    margin-bottom: 10px;
} 
.about-content{
font-weight: 700;
font-size: 26px;
color: rgb(70, 107, 159);
}
.the{
    color: #2a4f76;
    font-weight: 900;
}
.data{
   margin-bottom: 20px;
}
.fact-Box{
    background: #ffffff;
    height: 150px;
    width: 250px;
}
.con{
    font-size: 45px;
    color: #173b6c;
}
.numerical{
    font-size: 45px;
    color: black;
    font-weight: 900;
}
.pro{
    height: vh;
}
.progress{
    margin-bottom: 30px;
}
.portfolio{
    height: 340px;
    width: 340px;
    border-radius: 4px;
    margin: 10px;
}
.ser-sec{
    height: 200px;
    width: 600px;

}
.ser-icon{
    background: #007aff;
    display: inline-block;
    height: 45px;
    width: 45px;
    border-radius: 43px;
    text-align: center;
    position: relative;
    top: 77px;
    left: -17px;
}
.ser-icon-data{
    font-size: 23px;
    color: rgb(255, 255, 255);
    padding: 11px;

}
.loram{
    position: relative;
    left: 40px;
}
.ser-head-title{
    color: #343a40;
    font-weight: 700;
    font-size: 18px;

}
.ser-head-details{
    
}
.test-image{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    position: relative;
    left: 10px;
  
}
.test{
    position: relative;
    left: 80px;
    margin-top: 40px;
}
.contacts{
    background: #32bcc98f;
}
.con-data{
    background: #6f7180;
}
.final{
    color: white;
    font-size: 25px;
    background: #343a40;
    display: inline-block;
    height: 45px;
    width: 45px;
    border-radius: 43px;
    padding: 11px;
}